<article class="flex justify-between items-center p-4">
            <div>
              <h3>
                <%if recipe.public or recipe.user == current_user %>
                  <%= link_to  recipe.name, recipe_path(recipe.id)%>
                <% else %>
                  <%= link_to  recipe.name, recipes_path(recipe.id)%>
                <% end %>
                
              </h3>
            </div>
            <div>
              <p>
                <%= recipe.description %>
              </p>
            </div>
</article>