<div class=" w-full flex flex-col justify-center items-center py-10">
<div class=" w-[50%] flex flex-col justify-center items-center gap-8">

<h1 class="text-2xl font-bold">MY RECIPES</h1>

<p class="bg-[#13b8a6] p-2 text-white rounded-md">
<%= link_to "New recipe", new_recipe_path %>
</p>

<div id="recipes", class="flex flex-col gap-8 w-full">
  <% @recipes.each do |recipe| %>
  <div class="flex flex-col gap-4 rounded-md bg-blue-200 border-2 border-slate-800 p-2">
  <div>
    <%= render recipe %>
    </div>
    <p class="bg-[#13b8a6] p-1 rounded-md w-48 text-white flex justify-center items-center self-start">
      <%= link_to "Show this recipe", recipe %>
    </p>
    </div>
  <% end %>
</div>
</div>
</div>
