<section class="w-full flex flex-col justify-center items-center gap-10 py-10">
<h1 class="text-2xl font-bold">New food, Recipe: <%= @recipe_id%> </h1>

<%= render "form", food: @food %>

<div>
  <%= link_to "Back to foods", foods_path,  class: "underline"%>
</div>
</section>
